<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>This is login view!</title>
  </head>

  <body>
    <div class="title">
      <h1>Welcome to the Energy Exchange！</h1>
    </div>
    <div class="input">
      <form method="POST">
        <div>
          <label class="label1">帳號：</label>
          <input class="input" type="text" name="username" placeholder="請在此輸入帳號"/><br></br>
        </div>
        <div>
          <label class="label2">密碼：</label>
          <input class="input" type="password" name="password" placeholder="請在此輸入密碼"/><br></br>
        </div>
        <button type="submit" name="send" value="login">login</button>
        <button type="submit" name="send" value="I want to register">I want to register</button>
      </form>
    </div>
  </body>
</html>
